{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% blocktrans with product_id=product.pk %}
    Product #{{ product_id }}
  {% endblocktrans %}
{% endblock %}

{% block body %}
  <h1>
    {% blocktrans with product_name=product.name %}
      Product <strong>{{ product_name }}</strong>
    {% endblocktrans %}
  </h1>
  <div>
    <div>
      {% trans "Description" %}: <em>{{ product.description }}</em>
    </div>
    <div>
      {% trans "Price" %}: {{ product.price }}
    </div>
    <div>
      {% trans "Discount" %}: {{ product.discount }}
    </div>
    <div>
      {% trans "Archived" %}: {{ product.archived }}
    </div>

    {% if product.preview %}
      <img src="{{ product.preview.url }}" alt="{% blocktrans with filename=product.preview.name %}Preview image {{ filename }}{% endblocktrans %}">
    {% endif %}

    <h3>{% trans "Images" %}:</h3>
    <div>
      {% blocktrans count images_count=product.images.count %}
        There is {{ images_count }} image.
      {% plural %}
        There are {{ images_count }} images.
      {% endblocktrans %}

      {% for img in product.images.all %}
        <div>
          <img src="{{ img.image.url }}" alt="{% blocktrans with imagename=img.image.name %}Image {{ imagename }}{% endblocktrans %}">
          <div>{{ img.description }}</div>
        </div>
      {% empty %}
        <div>{% trans "No images uploaded yet" %}</div>
      {% endfor %}
    </div>
  </div>
  <div>
    <a href="{% url 'shopapp:product_update' pk=product.pk %}">{% trans "Update product" %}</a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% trans "Archive product" %}</a>
  </div>
  <div>
    <a href="{% url 'shopapp:products_list' %}">{% trans "Back to products list" %}</a>
  </div>
{% endblock %}
